data.db
dart.json
forecast
local_info.py
image
db_from_ops.py
*.pyc
html/.ipynb_checkpoints/*
html/php_command.sh
sample_data.db
dart_stats.json
html/historical_data/dart.csv
html/testing/*
html/testing

